@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#F2B6A0,#93BFB7);
    font-size: 16px;
    color: black;
    text-align: justify;
    }
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2d3e40af;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #387373;
    text-align: center;
    text-shadow: 1px 1px 2px #2b5858;
}
h2{
    color: #808d88;
}

