@charset "UTF-8";

/* Versão mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100vh;
}

body{
    
}

header{
    background-image: linear-gradient(to bottom, rgba(245, 116, 116, 0.89), rgb(219, 15, 15));
    min-height: 150px;
    padding: 20px;
}

h1{
    text-align: center;
    color: black;
    font-size: 2em;
    padding: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
h2{
    color: black;
    font-size: 1.5em;
    padding: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
section img{
    width: 150px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
section img:hover{
    border: 2px rgba(255, 255, 255, 0.664);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    transition: transform s;
}