@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

header{
    background-image: linear-gradient(to bottom, rgba(245, 116, 116, 0.89), rgb(219, 15, 15));
    min-height: 150px;
    padding: 20px;
}

main{
    background-color: rgba(238, 234, 234, 0.842);
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}

main h1{
    text-align: center;
    color: black;
    font-size: 2em;
    padding: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
main h2{
    color: black;
    font-size: 1.5em;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}

p{
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    text-indent: 20px;
}
img.raio{
    border-radius: 10%;
}
img.raio:hover{
        border: 2px rgba(255, 255, 255, 0.664);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
        transition: transform 0.5s;
}

section img{
    width: 128px;
    margin: 10px;
    padding: 5px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;

}
section img:hover{
    border: 2px rgba(255, 255, 255, 0.664);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    transition: transform 0.5s;
}

ul{
    list-style-type: none;
    list-style-type: disc ;
    list-style-position: inside;
    /*columns: 2;*/
    padding: 10px;
}

ul>li{
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
    font-size: large;
    font-weight: bold;
    text-shadow: 2px 2px 20px black;
}

a.ini{
    display: block;
    padding-top: 20px;
}

div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%; /* acaba gerando uma barra preta lateral no video, podendo ser ajustada de acordo com a porcentagem quanto com o video*/
    position: relative;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
div.video > iframe{ /* configuração para deixar o video em formato absoluto, e centralizar e aumentar seu tamanho dentro das configuraçoes setadas na div video acima*/
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;  
}

p.aplicativo{
    display: flex;    
    align-items: center;

}